@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.App {
  width:65%;
}


.flexSpaceBetweenVertical{
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.buttons > *{
  border-radius: 10px;
  height: 3rem;;
  font-weight: 500;
font-size: larger;
border: transparent;
}
.buttons{
  display: flex;
  justify-content: space-around;
  column-gap: 10px;
}